@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Quill styles */
@import 'react-quill-new/dist/quill.snow.css';

.root {
  font-family: 'Inter', sans-serif;
}

.ql-container {
  height: 100% !important;
  flex: 1;
}

.ql-editor {
  min-height: 200px;
  overflow-y: auto;
  font-family: inherit;
}

.ql-toolbar {
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
}

.ql-align-center {
  text-align: center !important;
}
.ql-align-right {
  text-align: right !important;
}
.ql-align-justify {
  text-align: justify !important;
}
